//Variables colores
$primary-blue: #132744;
$secondary-orange: #F7863C;
$complementary-white: #F9F9F9;
$complementary-yellow: #E0FE68;
$complementary-greenDark: #014751;
$complementary-green: #00D380;
$complementary-skyBlue: #8AC2DD;
